<template>
  <div class="o-tables-container">
    <div class="o-table-wrapper">
      <h2>Bids</h2>
      <Table
        :loading="appdata.loading"
        :tableData="appdata.tableData.bids"
        :symbol="appdata.symbol"
      />
    </div>
    <div class="o-table-wrapper">
      <h2>Asks</h2>
      <Table
        :loading="appdata.loading"
        :tableData="appdata.tableData.asks"
        :symbol="appdata.symbol"
      />
    </div>
  </div>
</template>

<script>
import Table from '@/components/Table.vue'

export default {
  inject: ['appdata'],
  components: {
    Table
  },
  mounted () {},
  updated () {},
  beforeDestroy () {
    this.$bus.off('diff')
  }
}
</script>

<style scoped>
h2 {
  color: var(--main-color);
}

.o-tables-container {
  display: flex;
  justify-content: center;
  font-size: 0.825rem;
  margin: 0 auto;
  max-height: calc(100vh - 70px - 3.2rem);
}
.o-table-wrapper {
  flex: 1 1 auto;
  max-width: 500px;
  max-height: 100%;
}
.o-table-wrapper:not(:first-of-type) {
  margin-left: 1rem;
}
@media (min-width: 640px) {
  .o-tables-container {
    font-size: 0.9375rem;
  }
}

@media (min-width: 1024px) {
  .o-tables-container {
    font-size: 1rem;
    font-size: 1rem;
  }
}
</style>
