<template>
  <div class="c-settings o-container">
    <select class="c-select" v-model="selected">
      <option :key="option" v-for="option in options">{{ option }}</option>
    </select>
    <div class="c-settings__right">
      <h2>Diffs</h2>
      <ul ref="difflist" v-if="!appdata.loading">
        <li :key="index" v-for="(value, index) in diffs">
          <div class="c-list-item__ids">{{ value.u }} - {{ value.U }}</div>
          <div class="c-list-item__bids"><span class="c-list-item__title">bids</span>: {{ value.b }}</div>
          <div><span class="c-list-item__title">asks</span>: {{ value.a }}</div>
        </li>
      </ul>
      <div v-else>
        loading...
      </div>
    </div>
  </div>
</template>

<script>
export default {
  inject: ['appdata'],
  data () {
    return {
      selected: this.appdata.symbol,
      options: {
        BTCUSDT: 'BTCUSDT',
        BNBBTC: 'BNBBTC',
        ETHBTC: 'ETHBTC'
      },
      diffs: []
    }
  },
  watch: {
    selected: 'setSymbol'
  },
  mounted () {
    this.diffs = []
    this.$bus.on('diffs', data => {
      if (this.diffs.length > 2000) {
        this.diffs.pop()
      }
      this.diffs.unshift(data)
    })
  },
  methods: {
    setSymbol (newval, oldval) {
      if (newval === oldval) {
        return
      }
      this.diffs = []
      this.$bus.emit('symbol', newval)
    }
  },
  beforeDestroy () {
    this.$bus.off('diffs')
  }
}
</script>

<style scoped>
.c-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c-settings__right {
  flex: 2 1 auto;
  margin-top: 1rem;
  color: var(--main-color);
}
ul {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--main-color);
  color: black;
  overflow: auto;
  max-height: calc(100vh - 220px);
}
li {
  list-style-type: none;
  padding: 0.3rem 0;
  border-bottom: 1px solid var(--gray-300);
}
li:not(:first-of-type) {
  margin-top: 1rem;
}
.c-list-item__bids {
  margin-bottom: 0.5rem;
}
.c-list-item__title {
  color: var(--main-color);
  font-size: bold;
}
.c-list-item__ids {
  color: var(--secnd-color);
  background: var(--extra-color);
  padding: 0.3rem 0.2rem;
  font-size: bold;
  margin-bottom: 0.5rem;
}
select {
  max-height: 3rem;
}

@media (min-width: 640px) {
  .c-settings {
    flex-direction: row;
  }
  .c-settings__right {
    margin-top: 0;
    margin-left: 1rem;
  }
  ul {
    max-height: calc(100vh - 170px);
  }
}
</style>
