<template>
  <header class="o-container">
    <nav>
      <router-link :to="{name: 'DataTable'}">data table</router-link>
      <router-link :to="{name: 'Settings'}">settings</router-link>
    </nav>
    <span>
      {{ appdata.symbol }}
    </span>
  </header>
</template>

<script>

export default {
  inject: ['appdata']
}
</script>

<style scoped>
.router-link-active {
  color: var(--accent-color);
}
.router-link-active:visited {
  color: var(--accent-color);
}
a {
  color: var(--main-color);
}
a:not(:first-of-type) {
  margin-left: 1rem;
}
nav {
  margin-bottom: 0.3rem;
}
span {
  font-weight: bold;
}
</style>
