<template>
  <div id="app">
    <Header />
    <main>
      <slot>
      </slot>
    </main>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'

export default {
  components: {
    Header
  }
}
</script>

<style>
:root {
  --main-color: hsl(203,39%,44%);
  --secnd-color: hsl(182,43%,76%);
  --accent-color: hsl(355,78%,56%);
  --text-color: hsl(105,54%,95%);
  --extra-color: hsl(215,50%,23%);

  --gray-300: lightgray;
  --gray-200: gainsboro;
}

html, body, * {
  box-sizing: border-box;
  margin: 0;
}
html, body {
  height: 100%;
}
#app {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0.5rem;
}
main {
  margin-top: 2rem;
}

.o-container {
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .o-container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .o-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .o-container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .o-container {
    max-width: 1280px;
  }
}
</style>
