<template>
  <div class="c-table">
    <div class="c-table__header">
      <div class="c-table__item">
        Amount
      </div>
      <div class="c-table__item">
        Price
      </div>
      <div class="c-table__item c-table__item--total">
        Total
      </div>
    </div>
    <div v-if="!loading" class="c-table__content">
      <TableRow :key="data[0]" v-for="data in tableData" :data="data" />
    </div>
    <div class="c-loading" v-else>
      loading...
    </div>
  </div>
</template>

<script>
import TableRow from '@/components/TableRow.vue'

export default {
  props: {
    tableData: Array,
    symbol: String,
    loading: Boolean
  },
  components: {
    TableRow
  }
}
</script>

<style>
.c-table {
  width: 100%;
  height: calc(100% - 31px);
  overflow: hidden;
}
.c-table:hover .c-table__content {
  overflow: auto !important;
}
.c-table__header {
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  background: var(--extra-color);
  color: var(--text-color);
}
.c-table__content {
  height: 100%;
  overflow: auto;
}
.c-table__item {
  flex: 1 1 calc(100% / 2);
}
.c-table__item--total {
  display: none;
}
@media (min-width: 640px) {
  .c-table__content {
    height: 100%;
    overflow: hidden;
  }
  .c-table__item--total {
    text-align: right;
    display: block;
  }
  .c-table__item {
    flex: 1 1 calc(100% / 3);
  }
}
.c-loading {
  text-align: center;
}
</style>
