<template>
  <div class="c-table-row">
    <div class="c-table__item">
      {{ data[1].toFixed(4) }}
    </div>
    <div class="c-table__item">
      {{ data[0].toFixed(4) }}
    </div>
    <div class="c-table__item c-table__item--total">
      {{ total.toFixed(4) }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: Array
  },
  computed: {
    total () {
      return this.data[1] * this.data[0]
    }
  }
}
</script>

<style scoped>
.c-table-row {
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  border-bottom: 1px solid lightgray;
}
.c-table-row:hover {
  background: gainsboro;
}
</style>
