<template>
  <Layout>
    <router-view />
  </Layout>
</template>

<script>
import Layout from '@/components/Layout'

export default {
  reactiveProvide: {
    name: 'appdata',
    include: ['symbol', 'tableData', 'loading']
  },
  data () {
    return {
      symbol: 'BTCUSDT',
      tableData: {},
      loading: true
    }
  },
  components: {
    Layout
  },

  beforeMount () {
    this.$api.start(this.symbol, (data, diffs) => {
      this.tableData = data
      this.$bus.emit('diffs', diffs)
      this.loading = false
    })
  },
  mounted () {
    this.$bus.on('symbol', symbol => {
      this.symbol = symbol
      this.tableData = {}
      this.loading = true
      this.$api.close()
      this.$api.start(this.symbol, (data, diffs) => {
        this.tableData = data
        this.$bus.emit('diffs', diffs)
        this.loading = false
      })
    })
  },

  beforeDestroy () {
    this.$api.close()
    this.$bus.off()
  },

  destroyed () {
    console.log('destroyed')
  }
}
</script>
